
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  background-color: #F1E3E4;
}
/*signup*/
.signupContainer{
display: flex;
align-items: center;
flex-direction: column;
}

.loginForm{
flex-direction: column;
}

.home h2 {
  justify-content: center;
  font-family: 'La Belle Aurore', cursive;
  font-size: 52px;
}

.home h4 {
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

/*CRUD*/
.mainContainer {
  background-color: rebeccapurple;
}
.notesContainer {
  flex-wrap: wrap;
  background-color: aquamarine;
}

.createNoteForm {
background-color: purple;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-left: 10px;
margin-right: 10px;
}

.setNoteForm {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: blue;
  flex-wrap: wrap;
}
.textareaSetNote{
  height: 120px;
}
.inputNote {
  align-content: flex-start;
  justify-content: start;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  height: 120px;
}

.buttonAdd{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  justify-content: end;
  align-items: flex-end;
  width:30%;
  height:90%;
}

.unityNote{
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}
.getPostIt{
  width: 50%;
  height: 35%;
  background-color: black;
  width:45%;
  margin-top: 10px;
  margin-bottom: 10px;
  border:red;
}
.textAreaNote {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 160px;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
}

.printedNote {
  height: 120px;
  border:none; 
  background-color: white;
}

.button {
  flex-direction: row;
  background-color: white
}
